Checks: '-*,clang-analyzer-*,-clang-analyzer-cplusplus*',
 bugprone-*,
 performance-*,
 readability-*,
 misc-unused-parameters,
 misc-unused-using-decls,
 misc-unused-alias-decls,
 cppcoreguidelines-*,
 -cppcoreguidelines-owning-memory,
 -cppcoreguidelines-avoid-magic-numbers,
 -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
 -cppcoreguidelines-pro-type-reinterpret-cast,
 -cppcoreguidelines-pro-type-const-cast,
 -cppcoreguidelines-pro-type-union-access,
 -cppcoreguidelines-avoid-c-arrays,
 -cppcoreguidelines-special-member-functions,
 -cppcoreguidelines-avoid-non-const-global-variables,
 -cppcoreguidelines-avoid-goto,
 -cppcoreguidelines-init-variables
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
FormatStyle: none
AnalyzeTemporaryDtors: false
